<h1>Editing Calvary</h1>

<%= render 'markdown/markdown' %>

<%= render 'form' %>



<h3><%#= link_to 'Show Calvary', @note %> </h3>
<h3><%= link_to 'Back', root_url %></h3>

<%= render :partial => @note %>
