<p id="notice"><%= notice %></p>
<div class="row">
  <div class="small-12 large-8 columns">
    <%=  markdown(@note.body) %>
  </div>
  <div class="small-12 large-4 columns">
     <%= render :partial => @note.links %>
  </div>
</div>

<div class="row">
  <div class="small-8 columns">
    <h3><%= link_to 'Back', edit_note_path(@note) %></h3>
  </div>
</div>

