<div class="one gradi-1">
  <div class="absolute logo-light" style="bottom:0px; left:30%;">&nbsp;</div>

  <div class="fb-wraper">
    <div class="small-4 columns color-4 fancy-border-top">
      <p>&nbsp;</p>
    </div>
    <div class="small-4 columns padding bottom-margin-height">
      <div class="back-3 negitive-top">
        <h1>Welcome</h1>
      </div>
      <div class="bottom-left">&nbsp;</div>
      <div class="bottom-right">&nbsp;</div>
    </div>
    <div class="small-4 columns gradi-1 color-4 fancy-border-top">
      <p>&nbsp;</p>
    </div>
  </div>


  <div class="row">
  </br>
    <div class="small-12 large-8 columns">
      <span id="about-link"></span>
      <h1>Pastor Nate!</h1>
      <p>
        Pastor Nate has been Senior Pastor of Calvary since 2008. He has served in various capacities including Associate Pastor, Youth Pastor, and College Ministry Pastor. Pastor Nate graduated from Calvary Chapel Bible College in 1998 with an Associates Degree in Theology. Nate married his lovely bride, Christina, in 2002 and is the proud father of three beautiful daughters: Lauren, Violet, and June. He loves being a father and husband.
      </p>
      <p>
        Along with carrying the main pulpit duties of the church Pastor Nate is actively involved in mentoring young men in the church and casting a vision for local outreach. His passion to reach the local community has him dreaming of expanding the church and creating multiple sites in every town that we can reach.
      </p>
    </div>
    <div class="small-12 large-4 columns">
      <%= image_tag "holdridge-family.jpg", :class => "tall-pic" %>
    </div>
  </div>
</div>

