<div class="one gradi-1">
  <span id="about-link" style="position:absolute;top:-45px;"></span>

  <div class="fb-wraper">
    <div class="small-4 columns color-4 fancy-border-top">
      <p>&nbsp;</p>
    </div>
    <div class="small-4 columns padding bottom-margin-height">
      <div class="back-3 negitive-top">
        <h1 class="behind-dark">About Nate</h1>
      </div>
      <div class="bottom-left">&nbsp;</div>
      <div class="bottom-right">&nbsp;</div>
    </div>
    <div class="small-4 columns gradi-1 color-4 fancy-border-top">
      <p>&nbsp;</p>
    </div>
  </div>


  <div class="row">
  <h1 class="show-mobile">About</h1>
  </br>
    <div class="small-12 large-2 columns show-desktop">
      <div class="nav-buffer">&nbsp;</div>
    </div>
    <div class="small-12 large-6 columns">
      <% @abouts.each do |about| %>
        <%= markdown(about.body) %>
    </div>
    <div class="small-12 large-4 columns">
      <div class="nav-buffer show-desktop">&nbsp;</div>
      <%= image_tag about.image.url(:large), class: "show-desktop" %>
      <%= image_tag about.image.url(:medium), class: "show-mobile" %>
      <% end %>
    </div>
  </div>
</div>

