<span id="teachings-link" style="margin-top:-30px;position:absolute;"></span>
<div class="clearfix">
  <h1 class="nice-header-1">Teachings</h1>
  <h2 class="hh2" style="color:#ddd;">a through the bible studio series</h2>

  <div class="clearfix" >
    <% @biblebooks.each do |biblebook| %>
      <div class="biblebook-cover">
        <%= image_tag biblebook.image.url(:large), :data => { :biblebook => biblebook.id },  class: "br-small" %>
        <div class="biblebook-hover" data-id="<%= biblebook.id %>">&nbsp;</div>
        <% if biblebook.teachings.exists? %>
          <div class="home-vol">play</div>
        <% else %>
          <h4 class="coming-soon">coming soon</h4>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


