<span id="teachings-link" style="margin-top:-30px;position:absolute;"></span>
<h1 class="nice-header-1">Teachings</h1>
<div class="clearfix">
  <h2 class="hh2" style="color:#ddd;">a through the bible studio series</h2>

  <div class="clearfix" style="max-width: 1200px;">
    <% @biblebooks.each do |biblebook| %>
      <div class="biblebook-cover">
        <%= image_tag biblebook.image.url(:medium), :data => { :biblebook => biblebook.id },  class: "br-small" %>
        <div class="biblebook-hover" data-id="<%= biblebook.id %>">
          <% if biblebook.teachings.exists? %>
            <div class="home-vol">play</div>
          <% else %>
            <h4 class="coming-soon">coming soon</h4>
          <% end %>
        </div>

      </div>
    <% end %>
  </div>
</div>


