<span id="bio-link" style="position:absolute;top:-85px;"></span>
<div class="one gradi-1">
  <div class="absolute logo-light" style="bottom:0px; left:30%;">&nbsp;</div>

  <div class="fb-wraper">
    <div class="small-4 columns color-4 fancy-border-top">
      <p>&nbsp;</p>
    </div>
    <div class="small-4 columns padding bottom-margin-height">
      <div class="back-3 negitive-top">
        <h1 class="behind-dark">Welcome</h1>
      </div>
      <div class="bottom-left">&nbsp;</div>
      <div class="bottom-right">&nbsp;</div>
    </div>
    <div class="small-4 columns gradi-1 color-4 fancy-border-top">
      <p>&nbsp;</p>
    </div>
  </div>


  <div class="row">
  </br>
    <div class="small-12 large-8 columns">
      <div class="mobile-logo show-mobile">&nbsp;</div>
      <br>
      <div class="nav-buffer show-mobile"> &nbsp;</div>
      <% @bios.each do |bio| %>
        <%= markdown(bio.text) %>
    </div>
    <div class="small-12 large-4 columns">
      <br>
      <%= image_tag bio.image.url(:medium), class: "show-desktop" %>
      <%= image_tag bio.image.url(:thumb), class: "show-mobile" %>
      <% end %>
    </div>
  </div>
</div>

