<span id="bio-link" style="position:absolute;top:-85px;"></span>
<div class="one gradi-1">


  <div class="row">
    <div class="small-12 large-7 columns">
      <% @bios.each do |bio| %>
        <%= markdown(bio.text) %>
        <a href="#" class="about-link">more</a>
        <hr />
        <%= markdown(bio.subtext) %>
        <a href="mailto:info@calvary.com" class="contact-link">contact@nateholdridge.com</a>
    </div>

    <div class="small-12 large-4 columns">
      <div class="nav-buffer show-desktop"></div>
      </br>
      <%= image_tag bio.image.url(:medium), class: "show-desktop" %>
      <%= image_tag bio.image.url(:thumb), class: "show-mobile" %>
      <% end %>
    </div>

  </div>
</div>

