<div class="one gradi-1">

  <div class="fb-wraper">
    <div class="small-4 columns color-4 fancy-border-top">
      <p>&nbsp;</p>
    </div>
    <div class="small-4 columns padding bottom-margin-height">
      <div class="back-3 negitive-top">
        <h1>Books</h1>
      </div>
      <div class="bottom-left">&nbsp;</div>
      <div class="bottom-right">&nbsp;</div>
    </div>
    <div class="small-4 columns gradi-1 color-4 fancy-border-top">
      <p>&nbsp;</p>
    </div>
  </div>


  <div class="row">
    <div class="small-12 large-8 columns">
      <span id="books-link"></span>
      <p>&nbsp;</p>
      <h2>The No-Nonsense Biblical Man</h2>
      <p>
        Men are important. Men matter. God loves to use men. A quick survey of our Bibles and study of our world will lead us to a simple conclusion: men are capable of great good and great evil. In the hands of God, men can be wonderfully used to bless the world around them.
      </p>
      <p>
        The No-Nonsense Biblical Man takes a direct look at living and being a man of God, a man who impacts his world for good, by asking some straightforward questions: Has your heart been won by the cross of Christ? Has God become your Father? Have you discovered the mission God has for you? Have you allowed yourself to become set apart for His purposes? How can you best use your body, money, and time for God’s honor? How can you become more beneficial to the key people in your life? How are you to interact with the world around you? God has given us His word. He longs to help us become good men. He wants to speak to us and instruct us. His will is best. The No-Nonsense Biblical Man takes a look into the Bible in order to discover God’s heart for His men. Let’s discover Him as He meets us in His word.
      </p>
    </div>
    </br>
    <div class="small-12 large-4 columns">
      <p>&nbsp;</p>
      <%= image_tag "book.jpg" %>
      <div class="book-buy">
        <a href="http://www.amazon.com/The-No-Nonsense-Biblical-Nate-Holdridge/dp/1484053508" target="_blank" class="button2">buy here</a>
      </div>
    </div>

  </div>
</div>
