<div class="one gradi-1">

  <div class="fb-wraper">
    <div class="small-4 columns color-4 fancy-border-top">
      <p>&nbsp;</p>
    </div>
    <div class="small-4 columns padding bottom-margin-height">
      <div class="back-3 negitive-top">
        <h1>Books</h1>
      </div>
      <div class="bottom-left">&nbsp;</div>
      <div class="bottom-right">&nbsp;</div>
    </div>
    <div class="small-4 columns gradi-1 color-4 fancy-border-top">
      <p>&nbsp;</p>
    </div>
  </div>


  <div class="row">
    <div class="small-12 large-8 columns">
      <span id="books-link"></span>
      <p>&nbsp;</p>

        <h2 class="hh2"></h2>

        <p></p>
    </div>
    </br>
    <div class="small-12 large-4 columns">
      <p>&nbsp;</p>

      <div class="book-buy">
        <a href="" target="_blank" class="button2">buy here</a>
      </div>

    </div>

  </div>
</div>
