<div class="calvary relative color-2">

  <div class="show-desktop">
      <div class="small-4 columns color-3 fancy-border">
        <p>&nbsp;</p>
      </div>
      <div class="small-4 columns padding">
        <div class="back-3">
          <div class="top-left">&nbsp;</div>
          <div class="top-right">&nbsp;</div>
          <h1 class="dark"><%= image_tag "calvary_logo.png" %></h1>
        </div>
      </div>
      <div class="small-4 columns gradi-1 color-3 fancy-border">
        <p>&nbsp;</p>
      </div>
    </div>

  <span id="calvary-link"></span>
  <div class="nav-buffer">&nbsp;</div>
  <div class="nav-buffer">&nbsp;</div>
  <div class="nav-buffer">&nbsp;</div>
  </br>
  <% @notes.each do |note| %>
    <div class="row">
      <div class="small-12 large-6 columns">
        <div class="info-box">
          <%= markdown(note.body) %>
        </div>
      </div>

      <div class="small-12 large-6 columns">

        <%# render :partial => note.links %>
        <% note.links.each do |link| %>
          </br>
          </br>
          <h3><%= link_to link.name, link.link %></h3>

        <% end %>
        <div class="page-buffer show-desktop">&nbsp;</div>
      </div>
    </div>
  <% end %>

<br>
<br>
<br>
<br>
</div>

