<div class="calvary relative color-2">
</br>
</br>
</br>
  <div class="fb-wraper">
    <div class="small-4 columns color-2 fancy-border-top">
      <p>&nbsp;</p>
    </div>
    <div class="small-4 columns padding bottom-margin-height">
      <div class="back-3 negitive-top">
        <h1 class="dark"><%= image_tag "calvary_logo.png" %></h1>
      </div>
      <div class="bottom-left-dark">&nbsp;</div>
      <div class="bottom-right-dark">&nbsp;</div>
    </div>
    <div class="small-4 columns gradi-1 color-2 fancy-border-top">
      <p>&nbsp;</p>
    </div>
  </div>


  <div class="row">
    <div class="small-12 columns">
      <span id="calvary-link"></span>
      <h1></h1>
    </div>
    <div class="small-12 large-4 columns">
      <h1>&nbsp;</h1>
    </div>
    <div class="small-12 large-4 columns">
      <h1><a href="http://calvary.com/" target="_blank"><span class="big">calvary.com</span></a></h1>
      </br>
      <h1><a href="http://calvary.com/teaching_topics.php" target="_blank">calvary - <span class="big">teachings</span></a></h1>
      </br>
      <h1><a href="http://calvary.com/connected.php" target="_blank" >calvary - <span class="big">get connected</span></a></h1>
    </div>
    <div class="small-12 large-4 columns">
      <h1>&nbsp;</h1>
    </div>
  </div>

</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>

</br>
</div>

