<div class="page-buffer-2">&nbsp;</div>
<div class="calvary relative color-2">
      <span id="calvary-link"></span>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  <div class="fb-wraper2">
    <div class="small-4 columns fancy-border-top">
      <p>&nbsp;</p>
    </div>
    <div class="small-4 columns padding bottom-margin-height">
      <div class="back-3 negitive-top">
        <h1 class="dark"><%= image_tag "calvary_logo.png" %></h1>
      </div>
    </div>
    <div class="small-4 columns fancy-border-top">
      <p>&nbsp;</p>
    </div>
  </div>

  <% @notes.each do |note| %>
    <div class="row">
      <div class="small-12 large-6 columns">
        <div class="info-box">
          <%= markdown(note.body) %>
        </div>
      </div>
      </br>
      </br>
      <div class="small-12 large-6 columns">
        <%= render :partial => note.links %>
        </br>
        </br>
        </br>
      </div>
    </div>
  <% end %>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>

</div>

