<div class="player-container">
  <div class="player-wrap">
    <div class="play-pause"></div>
    <section class="song-meta">
      <div class="artist">Led Zeppelin</div>
      <div class="song">Stairway to Heaven</div>
      <div class="timeline"></div>
      <progress class="pcast-progress" value="0"></progress>
      <span class="pcast-currenttime pcast-time">0:00</span>
    </section>
   <audio id="main-audio" preload="none" width="100%" src="http://www.buzzsprout.com/15939/109759-live-from-front-end-conf.mp3">
      <source src="http://www.buzzsprout.com/15939/109759-live-from-front-end-conf.mp3" type="audio/mpeg">
    </audio>
  </div>
</div>
