<nav id="main-nav" class="old-nav show-desktop">
  <div class="logo old-logo">&nbsp;</div>
  <div id="nav-wrap">
    <ul>
      <li>teachings</li>
      <li>books</li>
      <li>social</li>
      <li>about</li>
      <li>calvary</li>
      <li><a href="http://www.calvary.com/nateblog/" target="_blank">blog</a></li>
    </ul>
  </div>
</nav>
<nav id="main-nav-mobile" class="show-mobile">
  <div id="hamburger" class="fa fa-bars fa-2x">&nbsp;</div>
  <div id="mobile-links">
    <div class="mobile-link">teachings</div>
    <div class="mobile-link">books</div>
    <div class="mobile-link">social</div>
    <div class="mobile-link">about</div>
    <div class="mobile-link">calvary</div>
    <div class="mobile-link"><a href="http://www.calvary.com/nateblog/" target="_blank">blog</a></div>
  </div>
</nav>
