<div class="teaching-panels">
  <div class="teaching-panel-close">close</div>
  <div class="teaching-panel" data-id="17">
    <div class="teaching-image">
      <img src="" />
    </div>

    <div id="teaching-chapter">

      <!-- teachings go here -->
      <div jc-teachings></div>

    </div>

  </div>
</div>
