<div id="lesson_mod">

  <audio controls>
    <source src="http://s3.amazonaws.com/nate_database/mp3s/174/original/2Thessalonians_3.1-18.mp3?1401989616" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>



  <div id="lesson_mod_menu" class="row">


    <div id="jquery_jplayer_1" class="jp-jplayer">
      <!--  AUDIO ELEMENT  -->
    </div>
    <div id="jp_container_1" class="jp-audio small-12 large-8 columns">
      <div class="jp-controls">
        <div class="lesson_mod_image">
          <div class="current_lessen_image">


          </div>
          <a href="javascript:;" class="jp-play" tabindex="1">
            <div class="player_play">
              <div class="button-play"></div>
            </div>
          </a>

          <a href="javascript:;" class="jp-pause" tabindex="1" style="display:none;">
            <div class="player_pause">
              <div class="button-pause"></div>
            </div>
          </a>
        </div>
        <div class="lesson_mod_controls">
          <div class="lesson_goback">

            <div class="button-goback player_rewind"></div>

          </div>
          <div class="lesson_progress">
            <div class="lesson_mod_time">
              <div class="jp-duration lesson_duration hide">

              <!--  button-down-arrow -->

              </div>
            </div>
            <div class="jp-progress lesson_progress_bar">
              <div class="jp-seek-bar seek_bar">
                <div class="jp-play-bar progress_bar">
                  <div class="jp-current-time lesson_current_time">

               <!--   button-down-arrow -->

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="lesson_podcast">
            <a href="" class="player_podcasturl button-podcast" target="_blank">&nbsp;</a>
          </div>
          <div class="lesson_mod_volume">
            <div class="lesson_mod_volume_controls">
              <a href="javascript:;" class="icon-volume jp-mute" tabindex="1" title="mute">

                <div class="button-mute"></div>

              </a>
              <a href="javascript:;" class="icon-volume jp-unmute" tabindex="1" title="unmute" style="display:none;">
                <i class="icon-volume-off color-ccc icon-medium-size">&nbsp;</i>
              </a>
            </div>
            <div class="volume-meter jp-volume-bar">
              <span class="volume-bar jp-volume-bar-value"></span>
            </div>
            <div class="lesson_mod_volume_max">
              <a href="javascript:;" class="icon-volume jp-volume-max" tabindex="1" title="max volume">

                <div class="button-volume-max"></div>

              </a>
            </div>
          </div>
          <div class="play_speeds">
            <div class="speed-10 speed activeSpeed">1.0x</div>
            <div class="speed-13 speed">1.3x</div>
            <div class="speed-15 speed">1.5x</div>
            <div class="speed-17 speed">1.7x</div>
            <div class="speed-20 speed">2.0x</div>
          </div>
        </div>


        <div class="more-options">
          <a href="" class="player_refurl button-read-along" target="_blank">
            <!-- read along -->
          </a>
          <a href="" id="player_download_url" class="button-download" download="Nate's teaching">
            <!-- download  -->
          </a>
        </div>
      </div>
    </div>

    <div class="lesson_mod_info_container small-8 large-4 columns">

      <div class="player_close_button">x</div>

      <div class="lesson_mod_info" itemprop="name">
        <div class="mod_share"></div>
      </div>

      <div class="social_buttons">
        <div class="social_icon social_facebook">
          <a href="#"
            onclick="
              window.open(
                'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),
                'facebook-share-dialog',
                'width=626,height=436');
              return false;">
          </a>
        </div>
        <div class="social_icon social_twitter">
          <a class="twitter popup" href="http://twitter.com/share?text=Tweet%20about%20Nate's%20teachings."></a>

          <script>
            $('.popup').click(function(event) {
              var width  = 575,
                  height = 400,
                  left   = 0,
                  top    = 0,
                  url    = this.href,
                  opts   = 'status=1' +
                           ',width='  + width  +
                           ',height=' + height +
                           ',top='    + top    +
                           ',left='   + left;

              window.open(url, 'twitter', opts);

              return false;
            });
          </script>
        </div>
        <div class="social_icon social_google">
          <a href="https://plus.google.com/share?url={nateholdridge.com}" onclick="javascript:window.open(this.href,
            '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
            &nbsp;
          </a>
        </div>
      </div>

    </div>

  </div>
</div>
