<div class="teaching-panels">
  <div class="teaching-panel-close">close</div>
  <div class="teaching-panel" data-id="17">
    <div class="teaching-image">
      <img src="" />
    </div>

    <div class="teaching-chapter">
      <!-- teachings go here -->
    </div>

  </div>
</div>
