<div class="teaching-panels">
  <div class="teaching-image">
    <img src="" />
  </div>
  <% @biblebooks.each do |biblebook| %>
    <% biblebook.teachings.each do |teaching| %>
      <div class="teaching-item" data-id="<%= teaching.biblebook_id %>">
        <div class="play_this_teaching button-play-list" data-name="<%= teaching.name %>" data-mp3="<%= teaching.mp3 %>" data-refurl="">
          <h5><%= teaching.name %></h5>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
