<div class="fancy-stratum">
  <span id="social-link">&nbsp;</span>
  <h1>Social</h1>
  <br>
  <div class="row">
    <div class="small-4 columns">
      <a href="https://twitter.com/nholdridge" class="social" target="_blank">
        <div class="icon2"><i class="fa fa-twitter"></i></div>
      </a>
    </div>
    <div class="small-4 columns">
      <a href="https://facebook.com/nate.holdridge" class="social" target="_blank">
        <div class="icon2"><i class="fa fa-facebook"></i></div>
      </a>
    </div>
    <div class="small-4 columns">
      <a href="http://instagram.com/nateholdridge" class="social" target="_blank">
        <div class="icon2 "><i class="fa fa-instagram"></i></div>
      </a>
    </div>
  </div>
</div>
<div class="page-buffer-2 show-desktop">&nbsp;</div>
