<div class="row">
  <div class="small-12 columns">
    <span id="social-link"></span>
    <h1>be social :)</h1>
  </div>
</div>
<div class="row">
  <div class="small-12 large-4 columns">
    <div class="icon2"><i class="fa fa-twitter fa-5x"></i></div>
  </div>
  <div class="small-12 large-4 columns">
    <div class="icon2"><i class="fa fa-facebook fa-5x"></i></div>
  </div>
  <div class="small-12 large-4 columns">
    <div class="icon2 "><i class="fa fa-instagram fa-5x"></i></div>
  </div>
</br>
</br>
</br>
</div>
