<div class="fancy-stratum">
  <div class="small-4 columns color-3 fancy-border">
    <p>&nbsp;</p>
  </div>
  <div class="small-4 columns padding top-margin">
    <div class="back-3">
      <div class="top-left">&nbsp;</div>
      <div class="top-right">&nbsp;</div>
      <h1>be social :)</h1>
    </div>
  </div>
  <div class="small-4 columns gradi-1 color-3 fancy-border">
    <p>&nbsp;</p>
  </div>

  <div class="row">
    <span id="social-link">&nbsp;</span>
    <div class="small-12 large-4 columns">
      <div class="icon2"><i class="fa fa-twitter fa-5x"></i></div>
    </div>
    <div class="small-12 large-4 columns">
      <div class="icon2"><i class="fa fa-facebook fa-5x"></i></div>
    </div>
    <div class="small-12 large-4 columns">
      <div class="icon2 "><i class="fa fa-instagram fa-5x"></i></div>
    </div>
  </br>
  </br>
  </br>
  </div>
</div>
