<h1 class="nice-header-1">Social</h1>
<span id="social-link" style="margin-top:-100px;position:absolute;">&nbsp;</span>
<div class="row">
  <br>
  <br>
  <br class="show-desktop">
  <div class="row">
    <div class="small-4 columns">
      <a href="https://twitter.com/nholdridge" class="social" target="_blank">
        <div class="icon social-icon"><i class="fa fa-twitter"></i></div>
      </a>
    </div>
    <div class="small-4 columns">
      <a href="https://facebook.com/nate.holdridge" class="social" target="_blank">
        <div class="icon social-icon"><i class="fa fa-facebook"></i></div>
      </a>
    </div>
    <div class="small-4 columns">
      <a href="http://instagram.com/nateholdridge" class="social" target="_blank">
        <div class="icon social-icon "><i class="fa fa-instagram"></i></div>
      </a>
    </div>
  </div>
  <br>
  <br class="show-desktop">
  <br class="show-desktop">
  <br>
</div>

