<div class="example">
  <div class="example-inner clearfix">
    <div class="bigger float-left">
      <p>Header</p>
      <p>======</p>
    </div>
    <div class="smaller float-left">
      <h3>Header</h3>
      <p>&nbsp;</p>
    </div>
  </div>
  <div class="example-inner clearfix">
    <div class="bigger float-left">
      <p>Header2</p>
      <p>-----------</p>
    </div>
    <div class="smaller float-left">
      <h5>Header2</h5>
      <p>&nbsp;</p>
    </div>
  </div>
<!--   <div class="example-inner clearfix">
    <div class="bigger float-left">
      <li>red</li>
      <li>green</li>
    </div>
    <div class="smaller float-left">
      <p>- red</p>
      <p>- green</p>
    </div>
  </div> -->
  <div class="example-inner clearfix">
    <div class="bigger float-left">
      <p>_italic text_</p>
    </div>
    <div class="smaller float-left">
      <p><i>italic text</i></p>
    </div>
  </div>
  <div class="example-inner clearfix">
    <div class="bigger float-left">
      <p>__bold text__</p>
    </div>
    <div class="smaller float-left">
      <p><b>bold text</b></p>
    </div>
  </div>
  <div class="example-inner clearfix">
    <div class="bigger float-left">
      <small>[link](http://example.net/)</small>
    </div>
    <div class="smaller float-left">
      <p><a href="http://example.net/">Link</a></p>
    </div>
  </div>
</div>

