<div class="row">
  <div class="small-12 columns">
    <h1>Editing biblebook</h1>
  </div>
  <%= render 'form' %>
  <div class="small-12 columns">
    <%= link_to 'Show', @biblebook %>
  </div>
  <div class="small-12 columns">
    <%= link_to 'Back', biblebooks_path %>
  </div>
</div>

