<div class="row">
  <div class="small-12 columns">
    <h1>New biblebook</h1>
  </div>
  <%= render 'form' %>

  <div class="small-12 columns">
    <%= link_to 'Back', biblebooks_path %>
  </div>
</div>
