/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 @import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

 @font-face {
  font-family: "raleway";
  src: url("/assets/raleway_thin-webfont.eot");
  src: local("☺"),
    url("/assets/raleway_thin-webfont.woff") format("woff"),
    url("/assets/raleway_thin-webfont.otf") format("opentype"),
    url("/assets/raleway_thin-webfont.svg#raleway_thin-webfont") format("svg");
  }


@font-face {
  font-family: 'codropsicons';
  src:url('/assets/codropsicons.eot');
  src:url('/assets/codropsicons.eot?#iefix') format('embedded-opentype'),
    url('/assets/codropsicons.woff') format('woff'),
    url('/assets/codropsicons.ttf') format('truetype'),
    url('/assets/codropsicons.svg#codropsicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:url('/assets/icomoon.eot');
  src:url('/assets/icomoon.eot?#iefix') format('embedded-opentype'),
    url('/assets/icomoon.woff') format('woff'),
    url('/assets/icomoon.ttf') format('truetype'),
    url('/assets/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
