* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


nav{
  ul{
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    li{
      float:left;
      list-style-type: none;
      padding: 0 20px;
      width: 20%;
    }
  }
}

.stratum {
  @extend .clearfix;
  padding: 4px;
  margin: 0 auto;
}

.stratum-pop {
  @extend .stratum;
  background: #eee;
}

.stratum-hip {
  @extend .stratum;
  background: #999;
}

.stratum-hype {
  @extend .stratum;
  background: #ddd;
}

