$font-raleway: 'raleway', sans-serif;
// $font-questrial:  'Questrial', sans-serif;
$font-lato: 'Lato', Arial, sans-serif;
@mixin gradi-1 {
  background: #e4e4e4;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#e4e4e4));
  background-image: -webkit-linear-gradient(top, #fff, #e4e4e4);
  background-image: -moz-linear-gradient(top, #fff, #e4e4e4);
  background-image: -ms-linear-gradient(top, #fff, #e4e4e4);
  background-image: -o-linear-gradient(top, #fff, #e4e4e4);
}

html, body {
  overflow-x: hidden;
}

body {
  // background-image: url(image_path("landscape.jpg"));
  // background-size: 100%;
  // background-attachment: fixed;
  // background-repeat: no-repeat;

  background: #1c638d;
  font-family: $font-lato;
  text-align: center;
}

#page-wrapper {
  position: relative;
  width: 100%;
  margin-left: auto;
}

a {
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 2px;
  color: #333;
  padding: 0px 7px;
}
a.jp-play, a.jp-pause, a.icon-volume, a.player_refurl,  a.button-download {border:none;}

p {
  color: rgba(0,0,0,0.5);
  font-size: 18px;
}

h1 {
  color: #444;
  font-family: $font-lato;
  font-size: 3em;
  margin: 0.1em 0;
}

h2 {
  color: #333;
  font-family: $font-lato;
  margin: 0em;
  line-height: 1em;
}
.hh2 {
  font-family: $font-raleway;
  margin: 30px 0px;
  line-height: 2em;
  border-bottom: 1px solid #ddd;
}
table {
  width: 100%;
  thead {
    tr {
      th {
        text-align: center;
      }
    }
  }
}

.gradi-1 {
  @include gradi-1
}
.color-1 {
  background: #333333;
}
.color-2 {
  background: #111111;
}
.color-3 {
  background: #e4e4e4;
}
.color-4 {
  background: white;
}

.back-3 {
  border: 2px solid rgba(255,255,255,0.3);
  border-radius: 7px;
  h1 {
    background: #d1e0e8;
    // background: rgba(255,255,255,0.8);
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 1px 1px #fff inset;
    color: #111;
    margin:0px;
    text-shadow: 0 1px 0 #fff;
  }
  .dark {
    background: rgba(0,0,0,0.8);
    border: 1px solid #000;
    border-radius: 7px;
    box-shadow: 0px 0px 1px 1px #444 inset;
    color: #eee;
    text-shadow: 0 1px 0 #333;
    margin: 0px;
    position: relative;
    &:before {
      position: absolute;
      content: '';
      background: #fff;
      height: 33px;
      left: 0px;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
      width: 100%;
      z-index: -1;
    }
  }
  img {
    width: 200px;
    margin-top: -10px;
  }
}

.behind-dark {
  position: relative;
  &:before {
    position: absolute;
    content: '';
    background: #fff;
    height: 33px;
    left: 0px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 100%;
    z-index: -1;
  }
}

.float-left {
  float: left;
}

.br-small {
  border-radius: 2px;
}
.fancy-border {
  border-top: 2px solid transparent;
  position: relative;
  &:after {
    bottom: -2px;
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    background: rgba(255,255,255,0.3);
  }
}
.fancy-top-right {
  &:before {
    background: #fff;
    content: '';
    position: absolute;
    left: -2px;
    top: 0px;
    width:2px;
    height:40px;
  }
}
.fancy-top-right-dark {
  &:before {
    background: #444;
    content: '';
    position: absolute;
    left: -2px;
    top: 0px;
    width:2px;
    height:40px;
  }
}
.fb-wraper {
  top: -40px;
  position:absolute;
  width: 100%;
  .fancy-border-top {
    position: relative;
    &:after {
      top: -2px;
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0px;
      background: rgba(255,255,255,0.3);
    }
  }
}
.fb-wraper2 {
  @extend .fb-wraper;
  top:0px;
}

.negitive-top{
  position: absolute;
  width: 100%;
  top: -33px;
}
.corners {
  background-repeat: no-repeat;
  position: absolute;
  z-index: 7;
  width: 8px;
  height: 8px;
}
.top-left {
  @extend .corners;
  background: url(image_path("top-left.png"));
  left: 0px;
  top: 0px;
}
.top-right {
  @extend .corners;
  background: url(image_path("top-right.png"));
  right: 0px;
  top: 0px;
}
.bottom-left {
  @extend .corners;
  background: url(image_path("bottom-left.png"));
  left: 0px;
  bottom: 0px;
}
.bottom-right {
  @extend .corners;
  background: url(image_path("bottom-right.png"));
  right: 0px;
  bottom: 0px;
}
.bottom-left-dark {
  @extend .corners;
  background: url(image_path("bottom-left-dark.png"));
  left: 0px;
  bottom: 0px;
}
.bottom-right-dark {
  @extend .corners;
  background: url(image_path("bottom-right-dark.png"));
  right: 0px;
  bottom: 0px;
}
.padding {
  padding: 0px;
}

.top-margin {
  margin-top: 20px;
}

.bottom-margin-height {
  margin-bottom: 20px;
  height: 40px;
}
#before-nav{
  background: #333;
  height: 134px;
  left: 0px;
  top: 0px;
  position: absolute;
  width: 100%;
}
#main-nav {
  background: #333;
  top: 0px;
  width: 100%;
  ul{
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    li{
      border-radius: 5px;
      color: white;
      cursor: pointer;
      font-size: 20px;
      float:left;
      list-style-type: none;
      text-align: center;
      padding: 10px 0px;
      width: 19%;
      text-transform: uppercase;
      transition: all 0.5s;
      text-shadow: 0 1px 0 #000;
      &:hover {
        background: rgba(0,0,0,0.5);
        transition: margin 0.5s;
      }
    }
  }
}
.old-nav{
  position: absolute;
  ul {
    li {
      margin: 25px 0px;
    }
  }
}
.new-nav {
  border-bottom: 1px solid #555;
  position: fixed;
  z-index: 8;
  ul {
    li {
      margin: 5px 0px;
    }
  }
}

.logo {
  background-image: url(image_path("logo.png"));
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  left: 30px;
  position: absolute;

}
.old-logo{
  height: 120px;
  top: 5px;
  width: 120px;
  transition: all 0.5s;
}
.new-logo {
  height: 55px;
  top: 1px;
  width: 55px;
  transition: all 0.5s;
  &:after {
    border-radius: 50%;
    content: "";
    position: absolute;
    top: 11px;
    left: 11px;
    width: 40px;
    height: 40px;
    background: #eee;
    z-index: -1;
  }
}

.page-buffer {
  position: relative;
  margin: 80px 0px;
}
.page-buffer-2 {
  position: relative;
  margin: 50px 0px;
}
.page-buffer-color {
  background: #2980b9;
  position: absolute;
  width: 100%;
  height: 50px;
  top: -100px;
  left: 0px;
}

.teaching-panels {
  background: #eee;
  box-shadow: -1px 0px 11px #888 inset;
  border-right: 1px solid #555;
  height: 100%;
  margin-top: 40px;
  position: fixed;
  top: 0px;
  left: -160px;
  width: 160px;
  z-index: 9;
  .teaching-panel-close {
    background: #333;
    cursor: pointer;
    position: absolute;
    width: 50px;
    height: 18px;
    border: 1px solid #222;
    top: 150px;
    right: -0px;
    line-height: 15px;
    transform:rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -ms-transform:rotate(-15deg);
    z-index: 0;
    border-top-left-radius: 11px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: white;
    font-size: 12px;
    transition: right 150ms;
    &:hover {
      background: #222;
    }
  }
  .teaching-chapter {
    background: #111;
    border-top: 1px solid #111;
    border-bottom: 1px solid #222;
    color: #777;
    left: 0px;
    height: 28px;
    top: 159px;
    line-height: 1.3em;
    padding: 0 0 0 1px;
    position: static;
    width: 100%;
    z-index: 9;
  }
  .teaching-panel {
    display: none;
    position: relative;
    padding-bottom: 160px;
    overflow-y: scroll;
    height: 100%;
    .teaching-image {
      left: 0px;
      top: 0px;
      position: relative;
      width: 100%;
      &:after {
        display:block;
        content:'';
        position:absolute;
        width:100%;
        height:100%;
        top: 0px;
        left: 0px;
        box-shadow: -1px 1px 6px #333 inset;
      }
      img {
        width: 100%;
      }
    }
    .teaching-item {
      cursor: pointer;
      width: 100%;
      border-bottom: 1px solid rgba(0,0,0,0.4);
      position: relative;
      transition: all 0.5s;
      &:hover {
        background: #777;
        color: white;
      }
      &:hover > .play-this-teaching {
        display: block;
      }
      &:hover > p {
        color: #fff;
      }
      p {
        margin:0px;
        text-align: left;
        padding: 0 0 0 4px;
      }
      .play-this-teaching {
        display: none;
        position: absolute;
        right: 5px;
        bottom: 3px;
      }
    }
    .active-item {
      background: #333;
      p {
        color: white;
      }
    }
  }
}

.bigger {
  font-size: 125%;
}

.button2 {
  border: 1px solid #222;
  padding: 4px 30px;
  cursor:pointer;
  &:hover {
    background: #222;
    color: white;
  }
}

.tall-pic {
  margin: 20px auto;
}
.biblebook-cover {
  float: left;
  margin: 20px 2%;
  position: relative;
  width: 21%;
  z-index: 7;
}

.fancy-stratum {
  position: relative;
  padding: 10px 0px;
  width: 100%;
}

.book-buy {
  margin: 30px 0px;
}
.one {
  @extend .fancy-stratum;
  &:after {
    content: '';
    width: 100%;
    height: 30px;
    background: #e4e4e4;
    left: 0px;
    bottom: -30px;
    position: absolute;
  }
}

.two {
  @extend .fancy-stratum;
  border-bottom: 12px solid #333;
  box-shadow: 20px 0px 30px #111;
}

.three {
  @extend .fancy-stratum;
  p {
    color: white;
  }
  h1 {
    color: white;
  }
}

.icon {
  display: block;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: rgba(0,0,0,0.1);
  color: #fff;
  text-align: center;
  font-size: 8em;
  line-height: 2em;
  margin: 0 auto;
  padding: 10px 0px 0 20px;
}

.calvary {
  background-image: url(image_path("CalvaryBuilding.jpg"));
  background-repeat: no-repeat;
  background-size:100%;
  background-position:top left;
  p {
    color: white;
  }
  a {
    border-radius: 3px;
    color: #33;
    border: 1px solid #444;
    padding: 15px;
    font-size: 25px;
    transition: all 0.5s;
    &:hover {
      background: #333;
      color: #999;
      border: 1px solid #333;
      transition: all 0.5s;
    }
  }
}

.info-box {
  border-radius: 3px;
  background: rgba(255,255,255,0.5);
  border: 1px solid #fff;
  padding: 20px;
  p{color: #333;}
}

// Social
.icon2 {
  background-color: rgba(0,0,0,0.4);
  cursor: pointer;
  margin: 60px auto 0px;
  width: 190px;
  height: 190px;
  text-align: center;
  line-height: 100px;
  color: #fff;
  font-size: 40px;
  border-radius: 200px;
  box-shadow: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  &:hover {
    box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.5);
  }
}
a.social {
  border: 0;
}

.text-area {
  min-height: 400px;
}

#loader{
  display: none;
  border-radius:4px;
  background: rgba(255,255,255,0.8);
  left:40%;
  position:fixed;
  padding:20px;
  top:200px;
  z-index: 99;
  @media all and (max-width: 767px){
    left: 34%;
  }
  @media all and (max-width: 525px){
    left: 23%;
  }
  .spin {
    border: 2px dashed #222;
    border-radius: 50%;
    height: 70px;
    margin-left: 25px;
    position: relative;
    width: 70px;
    -webkit-animation: spin 5s infinite;
    -moz-animation:    spin 5s infinite;
    -o-animation:      spin 5s infinite;
    animation:         spin 5s infinite;
  }
}
@-webkit-keyframes spin {
  0%   {  -webkit-transform:rotate(0deg); }
  100% {  -webkit-transform:rotate(360deg); }
}
@-moz-keyframes spin {
  0%   {  -moz-transform:rotate(0deg); }
  100% {  -moz-transform:rotate(360deg); }
}
@-o-keyframes spin {
  0%   {  -o-transform:rotate(0deg); }
  100% {  -o-transform:rotate(360deg); }
}
@keyframes spin {
  0%   {  transform:rotate(0deg); }
  100% {  transform:rotate(360deg); }
}


.example {
  background: white;
  max-width: 300px;
  margin: 0 auto;
  text-align: left;
  .example-inner {
    padding: 10px;
    width: 100%;
    p, h3, h5 {
      margin: 0px;
      line-height: 20px;
    }
    .bigger {
      width: 70%;
    }
    .smaller {
      width: 30%;
    }
  }
  .example-inner:nth-child(even) {
    background: #eee;
  }
}

#user {
  background: #eee;
  top: 0px;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.absolute {
  position: absolute;
}
.relative {
  position: relative;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}
