<div class="row">
  <div class="small-12 columns">
    <h1>New teaching</h1>
  </div>
</div>
<%= render 'form' %>
<div class="row">
  <div class="small-12 columns">
    <h3><%= link_to 'Back', teachings_path %></h3>
  </div>
</div>
