<div class="row bg-1">
  <div class="small-12 columns">
    <nav id="main-nav">
      <ul>
        <li>about</li>
        <li>writing</li>
        <li>teachings</li>
        <li>calvary</li>
        <li>social</li>
      </ul>
    </nav>
  </div>
</div>
