<div class="row bg-1">
  <div class="small-12 columns">
    <nav>
      <ul>
        <li>ABOUT</li>
        <li>WRITTING</li>
        <li>TEACHING</li>
        <li>CALVARY</li>
        <li>SOCIAL</li>
      </ul>
    </nav>
  </div>
</div>
