<nav id="main-nav" class="old-nav">
  <div class="logo old-logo">&nbsp;</div>
  <ul>
    <li>about</li>
    <li>writing</li>
    <li>teachings</li>
    <li>calvary</li>
    <li>social</li>
  </ul>
</nav>
