<!DOCTYPE html>
<html>
<head>
  <title>Nate Holdridge</title>
  <meta name = "viewport" content = "initial-scale = 1.0">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => false %>
  <link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-47128684-1', 'nateholdridge.com');
    ga('send', 'pageview');
  </script>
</head>
<% if current_user %>
<body style="background:#dddddd;" data-no-turbolink>
<% else %>
<body style="background:#1c638d;" data-no-turbolink>
<% end %>

<%= yield %>


</body>
</html>
