<!DOCTYPE html>
<html>
<head>
  <title>Nate</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<% if current_user %>
<body style="background:#dddddd;">
<% else %>
<body style="background:#1c638d;">
<% end%>

<span id="about-link"></span>


<%= yield %>


</body>
</html>
